html, body {
    height: 100%;
}
body {
    display: grid;
    grid-template-columns:  22%  41% 3% 12%  22%;
    grid-template-rows: min-content auto min-content;
}

header, footer, lastrowspace {
    grid-column-start: 1;
    grid-column-end: 6;
}

iframe {
    grid-column-start: 2;
    grid-column-end: 4;
}
